<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>HOME</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-scholar.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
<!--

TemplateMo 586 Scholar

https://templatemo.com/tm-586-scholar

-->
  </head>

<body >

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/home" class="logo">
                      <h1 style="color: rgb(255, 255, 255);">Weavers Den</h1>

                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Serach Start ***** -->
                    <!-- ***** Serach Start ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                  <li class="scroll-to-section"><a href="/home" class="active">Home</a></li>
                  <li class="scroll-to-section"><a href="/explore">Manufactures</a></li>
                  <li class="scroll-to-section"><a href="/event">Events</a></li>
                  <li class="scroll-to-section"><a href="/about">About</a></li>
                  <li class="scroll-to-section"><a href="/contact">contact us</a></li>
                  
                      <%if(check==0){%>
                        <li class="scroll-to-section"><a href="/signup">Register Now!</a></li>
                       <li class="scroll-to-section"><a href="/login">Welcome Back!</a></li>
                        <%}%>

                        <% if(check==1){%>
                          <li class="scroll-to-section"><a href="/consumer">Profile</a></li>
                          <li class="scroll-to-section"><a href="/logout">logout</a></li>
                          <%}%>
                            <% if(check==2){%>
                              <li class="scroll-to-section"><a href="/manufuacturerp">Profile</a></li>
                                <li class="scroll-to-section"><a href="/logout">logout</a></li>
                              <%}%>
                              <li class="scroll-to-section"><a id="dark">Mode</a></li>
                  </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <style>
    .main-banner {
      /* Add some margin to the top */
      margin-top: 50px; 
    }
  </style>
  <div class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-carousel owl-banner">
            <div class="item item-1">
              <div class="header-text">
                <span class="category"></span>
                <h2  style="color: #000000;" >Weaving a story with every thread</h2>
                 <div class="buttons">
                 
                </div>
              </div>
            </div>
            <div class="item item-2">
              <div class="header-text">
                <span class="category"></span>
                <h2  style="color: #000000;" >Weaving a story with every thread</h2>
                <div class="buttons">
              
                </div>
              </div>
            </div>
            <div class="item item-3">
              <div class="header-text">
                <span class="category"></span>
                <h2  style="color: #000000;" >Weaving a story with every thread</h2> <h2 style="color: #fd0059;">Weaving a story with every thread</h2>
                <div class="buttons">
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section about-us" id="s1">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-1">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Where shall we begin?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Welcome <strong>Weavers Den</strong>, Welcome to Weavers Den, where craftsmanship meets creativity in the world of textiles. We are dedicated to bringing you the finest fabrics, innovative designs, and a seamless blend of tradition and modernity.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  How do we work together?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  At <strong>Weavers Den</strong>, At Weavers Den, our mission is to provide our customers with not just fabrics but experiences. We strive to be a one-stop destination for all your textile needs, offering a diverse range of materials that cater to every taste and occasion.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Why Weavers Den is the best?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  At Weavers Den, we take pride in our commitment to delivering exceptional quality, starting with our hallmark—Quality Craftsmanship. Every fabric we produce is a testament to our dedication to precision and care, ensuring that each piece is a masterpiece in its own right.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Do we get the best support?
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  You can also search on Google with specific keywords such as <code>templatemo business templates, templatemo gallery templates, admin dashboard templatemo, 3-column templatemo, etc.</code>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <div class="section-heading">
            <h6>About Us</h6>
            <h2>What make us the best Company Online?</h2>
            <p> Welcome to our app! We are dedicated to connecting manufacturers with consumers in a way that benefits everyone. Our
            platform allows us to recommend manufacturers to consumers based on their specific needs and preferences. Whether you're
            a manufacturer looking to reach a wider audience or a consumer looking for the perfect product, we're here to help. Join
            us and discover a better way to connect and do business</p>
              <div class="main-button">
              <a href="/about">Discover More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="team section" id="team">
    <div class="container">
      <div class="row">
                <%if(data.length> 0){
                  data.forEach(function(data){
                  %>
        <div class=" col-lg-3 col- ">
    
          <div class="team-member m-4">
            <div class="main-content">
              <img src="../uploads/<%=data.image%>" alt="">
              <span class="category">UX Teacher</span>
              <h4><%=data.company_name%></h4>
              <ul class="social-icons">
                <li><a href="/manufacturer/<%=data.manufacturer_id%>"><i class="fab fa-twitter"></i></a></li>
              </ul>
            </div>
          </div>
          
        </div>
        <% }); } %>
      </div>
    </div>
  </div> 

  <div class="section testimonials">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="owl-carousel owl-testimonials">
            <div class="item">
              <p>“The Best Copmany you can find!”</p>
              <div class="author">
                <img src="assets/images/testimonial-author.jpg" alt="">
                <span class="category">Full Stack Master</span>
                <h4>Claude David</h4>
              </div>
            </div>
            <div class="item">
              <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravid.”</p>
              <div class="author">
                <img src="assets/images/testimonial-author.jpg" alt="">
                <span class="category">UI Expert</span>
                <h4>Thomas Jefferson</h4>
              </div>
            </div>
            <div class="item">
              <p>“Scholar is free website template provided by TemplateMo for educational related websites. This CSS layout is based on Bootstrap v5.3.0 framework.”</p>
              <div class="author">
                <img src="assets/images/testimonial-author.jpg" alt="">
                <span class="category">Digital Animator</span>
                <h4>Stella Blair</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <div class="section-heading">
            <h6>TESTIMONIALS</h6>
            <h2>What they say about us?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, rem.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  

  <footer>
    <div class="container">
      <div class="col-lg-12">
        <p>Copyright © 2036 Scholar Organization. All rights reserved. &nbsp;&nbsp;&nbsp;
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/js/isotope.min.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/counter.js"></script>
  <script src="assets/js/custom.js"></script>
  <script src="assets/js/dark.js"></script>

  </body>
</html>